/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button, 
the title "ScriBBler" & the sub-heading below "ScriBBLer" */

.headerButton{
    float: right;
    background-color: blue;
    color: #fff;
    font-size: 14px;
    margin-top: 4px;
    margin-right: 10px;
    padding: 10px 14px;
    cursor: pointer;
 }
 
 #headerText{
    float: left;
    font-family: 'Satisfy', cursive;
    color: rgb(42, 29, 228);
    margin-top: 4px;
    margin-left: 6px;
    font-size: 50px;
    font-weight: normal;
 }
 
 #subHeaderText{
    float: left;
    justify-content: left;
    font-family: 'Satisfy', cursive;
    color: black;
    font-weight: normal;
    width: auto;
    font-size: 16px;
    margin-top: -50px;
 }
